html{
    background-color: #F8F8FF; 
;
   
    color: #580000;
    font-family: "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

body{
   /*background-color: #BBD6F1;*/ 
   
    text-align:left;
    width:100%;
   
/*padding: 10px 10px 40px 10px;*/
border-radius: 10px;
}
div#images img{

width:352px;
display:inline-block
}
div#menu {/*background-image: url("mrmBlur.jpg");*/ padding:0; width:100%; position:relative; top:-20px; }



menu#nav_wide{width:100%; height:100%; display:flex; justify-content:space-around; align-items:center; flex-direction:row;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; padding:0;
background-image: url("mrmBlur.jpg"); position:relative; top:-20px;
 }
 
span.mainTitle {display:block; font-size:1.8em; font-weight:bold; letter-spacing:2px; color:#B16800; position:relative; top:15px; }
span.subTitle{display:block; font-size: .88em; letter-spacing:1px;font-style:italic; font-weight:900;}

ul#siteMenu {list-style-type:none; width:100%; display:flex; justify-content:space-around; align-items:flex-start; flex-direction:row; height:100%;  background-color:/*#F8F8FF;*/#FFDB90;
position:relative; bottom:-20px;
;
}
ul#siteMenu li.title {flex:1; display:flex; justify-content:space-around; align-items:center; flex-direction:column; background-color:#FFDB90;   }
/*ul#siteMenu li {/\*padding:8px;*\/ font-weight: bold;}*/

ul#siteMenu li.mainMenu {flex:2.5; background-color:/*#FFDB90*/#F8F8FF;}

ul.mainMenu {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:row; background-color: Grey; padding:0}

ul.mainMenu li.section {/*font-weight:bold; font-size:1em;*/ display:flex; justify-content:space-around; align-items:center; flex-direction:column; padding-left:20px; padding-right:10px; height:150px; flex:1}

li#Overview {background-color:Grey; color:#FFDB90;}
li#Overview a{color:gold; text-decoration:none;}
li#Overview a:hover{color:yellow; text-decoration:underline;}
li#Editions{background-color:FireBrick; color:Lavender;}
li#Editions a {color:Lavender; text-decoration:none;}
li#Editions a:hover {color:white; text-decoration:underline;}
li#Bib{background-color:DarkSeaGreen; color:maroon}
li#Bib a {color:maroon; text-decoration:none;}
li#Bib a:hover {color:white; text-decoration:underline;}

li#Project{background-color:Lavender; }
li#Outreach{background-color:RosyBrown; color:PapayaWhip;}
li#Outreach a {color:PapayaWhip; text-decoration:none;}
li#Outreach a:hover {color:gold; text-decoration:underline}

ul.subSec {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:column; margin-left:-40px; padding-top:5px; margin-right:25px; /*background-color:LemonChiffon;*/
}
ul.subSec li {text-align:left; font-size:1em; font-weight:700; padding-top:2px; padding-bottom:3px }
   
   


div#container{
width: 90%; 
display:inline-block
}


div#content{
width: 85%;
display:inline-block;
padding:15px;
}
div#content img {width:100%}

div.graph {width: 100%}

div.graph img {width:100%}

div.feature{
    width:50%;
    display:inline-block;
    margin-left:25%;
    margin-right:auto;
    padding:5px
}
/*div#images{
float:left;

width: 30%;
    
 }   */
/*
div#floatright{
float:left;
width: 60%;
margin-left: 75px;
margin-right:auto;
padding: 10px 5px 50px 20px;    
    
}*/

p.boilerplate span {text-indent:-1em;
    margin-left:1em;
    display:block;
    font-size:smaller;
    line-height:1.4em;}
    
    p.boilerplate img {position: relative; top:3px; right: -2px }
    
    p {padding:0px 20px 0px 20px;}
    
    /*span.iframe {margin-left: 30%; margin-right: 30%}*/

div#twitter{
margin-left: 75px;
margin-right:auto;
padding: 10px 5px 5px 500px;    
    
}
span.smaller
{font-size:smaller}


h1 {
color:#A04747;
letter-spacing:3px;
display:block;
text-align:center;
font-size:38px}
/*h2 {color:#00005C; font-size:2em; padding:0; display:block; text-align:center; 
}*/
h2 {color:#330000; display:block; font-size: 2em; text-align:center}


h3 {color:#A04747; display:block; text-align:left; font-size:1.1em;
}

/*img{
border-radius:10px;
}*/


a{
color: #2929A3;
text-decoration:none;}
a:hover{
text-decoration:underline;}




span.anchor {
color:blue;
 text-decoration:underline;   
}
span.anchor span.note {
 position:absolute;
    color:black;
    text-decoration:none;
    
    background:white;
    border:solid blue 1px;
    width:350px;
   display:none;
   text-align:left;
    }
 
        
/*span.anchor span.note:hover span, span.anchor span.note:active span {
    display:inline;
}*/