html{
    background-color: #F8F8FF; 
;
   
    color: #580000;
    font-family: "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

body{
   /*background-color: #BBD6F1;*/ 
   
    text-align:left;
    width:100%;
   
/*padding: 10px 10px 40px 10px;*/
border-radius: 10px;
}
div#images img{

width:352px;
display:inline-block
}
div#nav_wide {background-image: url("mrmBlur.jpg"); padding:0; width:100%; position:relative; top:-35px; }

div#menu {width:100%; height:100%; display:flex; justify-content:space-around; align-items:center; flex-direction:row;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; padding:0;
 }
 
span.mainTitle {display:block; font-size:1.8em; font-weight:bold; letter-spacing:2px; color:#B16800; position:relative; top:15px; }
span.subTitle{display:block; font-size: .88em; letter-spacing:1px;font-style:italic; font-weight:900;}

ul#siteMenu {list-style-type:none; width:100%; display:flex; justify-content:space-around; align-items:flex-start; flex-direction:row; height:100%;  background-color:/*#F8F8FF;*/#FFDB90;
position:relative; bottom:-20px;
;
}
ul#siteMenu li.title {flex:1; display:flex; justify-content:space-around; align-items:center; flex-direction:column; background-color:#FFDB90;   }
/*ul#siteMenu li {/\*padding:8px;*\/ font-weight: bold;}*/

ul#siteMenu li.mainMenu {flex:2.5; background-color:/*#FFDB90*/#F8F8FF;}

ul.mainMenu {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:row; background-color: Grey; padding:0}

ul.mainMenu li.section {/*font-weight:bold; font-size:1em;*/ display:flex; justify-content:space-around; align-items:center; flex-direction:column; padding-left:20px; padding-right:10px; height:150px; flex:1}

li#Overview {background-color:Grey; color:#FFDB90;}
li#Overview a{color:gold; text-decoration:none;}
li#Overview a:hover{color:yellow; text-decoration:underline;}
li#Editions{background-color:FireBrick; color:Lavender;}
li#Editions a {color:Lavender; text-decoration:none;}
li#Editions a:hover {color:white; text-decoration:underline;}
li#Bib{background-color:DarkSeaGreen; color:maroon}
li#Bib a {color:maroon; text-decoration:none;}
li#Bib a:hover {color:white; text-decoration:underline;}

li#Project{background-color:Lavender; }
li#Outreach{background-color:RosyBrown; color:PapayaWhip;}
li#Outreach a {color:PapayaWhip; text-decoration:none;}
li#Outreach a:hover {color:gold; text-decoration:underline}

ul.subSec {list-style-type:none; display:flex; justify-content:space-between; align-items:flex-start; flex-direction:column; margin-left:-40px; padding-top:5px; margin-right:25px; /*background-color:LemonChiffon;*/
}
ul.subSec li {text-align:left; font-size:1em; font-weight:700; padding-top:2px; padding-bottom:3px }



div#container{
width: 90%; 
display:inline-block
}

div#images{
float:left;

width: 30%;
    
    
}



div#floatright{
float:left;
width: 60%;
margin-left: 75px;
margin-right:auto;
padding: 10px 5px 50px 20px;    
    
}


div#twitter{
margin-left: 75px;
margin-right:auto;
padding: 10px 5px 5px 500px;    
    
}
/*div#welcome.hidden {display: none;}
div#welcome.unhidden {display: block;}

div#about.hidden {display: none;}
div#about.unhidden {display: block;}

div#search.hidden {display: none;}
div#search.unhidden {display: block;}

div#literature.hidden {display: none;}
div#literature.unhidden {display: block;}

div#letters.hidden {display: none;}
div#letters.unhidden {display: block;}


div#visual.hidden {display: none;}
div#visual.unhidden {display: block;}

div#maps.hidden {display: none;}
div#maps.unhidden {display: block;}


div#contact.hidden {display: none;}
div#contact.unhidden {display: block;}
*/

h1 {
color:#A04747;
letter-spacing:3px;
display:block;
text-align:center;
font-size:38px}
h2 {color:#00005C; font-size:20px; padding:0; display:block; text-align:center; 
}

h3 {color:#00005C; display:block; text-indent:3em; text-align:left; font-size:16px;
}

h4 {color:#00005C; display:block; text-indent:3em; text-align:left; font-size:14px;
}

/*img{
border-radius:10px;
}*/

div.image{padding:0px 50px 20px 0px; float:left; }

p.boilerplate span {text-indent:-1em;
    margin-left:1em;
    display:block;
    font-size:smaller;
    line-height:1.4em;}
p {padding:0px 20px 0px 20px;}
a{
color: #2929A3;
text-decoration:none; font-weight: bold;}
a:hover{
text-decoration:underline;}



div#content ul li{padding:15px}


span.anchor {
color:blue;
 text-decoration:underline;   
}
span.anchor span.note {
 position:absolute;
    color:black;
    text-decoration:none;
    
    background:white;
    border:solid blue 1px;
    width:350px;
   display:none;
    }
q {quotes:'“' '”' '‘' '’'; 
}

cite.sub {font-style:normal;}
cite.sub::before {content:'“'; 
}
cite.sub::after {content:'”';
}

q cite.sub::before {content: '‘'}
q cite.sub::after {content: '’'}
cite.sub cite.sub::before {content: '‘'}
cite.sub cite.sub::after {content: '’'}
 
        
/*span.anchor span.note:hover span, span.anchor span.note:active span {
    display:inline;
}*/